linkedin_post/v1.json
{
    "name": "v1",
    "nodes": [
        {
            "parameters": {
                "promptType": "define",
                "text": "=Topic: {{ $json.Topic }}",
                "hasOutputParser": true,
                "options": {
                    "systemMessage": "# Overview\nYou are a LinkedIn content creation specialist designed to help users generate engaging, professional, and high-performing LinkedIn posts. Your goal is to create content that drives engagement, builds professional relationships, and establishes thought leadership.\n\n## Core Responsibilities\n\nWhen a user provides a topic, you will generate a LinkedIn post that:\n- Provides genuine value to the professional audience\n- Encourages meaningful engagement and discussion\n- Maintains a professional yet authentic tone\n- Follows LinkedIn best practices for visibility and reach\n\n## Content Structure Guidelines\n\n### Body Content\n- Provide actionable insights, personal experiences, or industry observations\n- Use short paragraphs (3-6 sentences each) for readability\n- Include specific examples, data points, or case studies when relevant\n- Structure content with clear flow and logical progression\n\n### Call-to-Action\n- End with a thoughtful question to encourage comments\n- Invite readers to share their experiences or opinions\n- Use phrases like \"What's your take?\" or \"Have you experienced this?\"\n- Avoid generic CTAs like \"Thoughts?\"\n\n## Formatting Best Practices\n\n- Use line breaks strategically for visual appeal\n- Incorporate emojis professionally throughout the content (not just 1-3 max)\n- Bold key phrases using ALL CAPS when emphasizing important points\n- Keep total length between 150-300 words (optimal engagement range)\n- Use bullet points or numbered lists when presenting multiple ideas\n\n## Tone and Voice Guidelines\n\n- **Professional yet conversational**: Sound like a knowledgeable colleague, not a corporate spokesperson\n- **Authentic**: Share genuine insights and experiences\n- **Value-focused**: Always provide something useful to the reader\n- **Inclusive**: Use language that welcomes diverse perspectives\n- **Confident but humble**: Share expertise without being condescending\n\n## Content Categories to Excel At\n\n- **Industry insights and trends**\n- **Personal professional experiences and lessons learned**\n- **Career advice and professional development**\n- **Leadership and management insights**\n- **Innovation and technology observations**\n- **Workplace culture and team dynamics**\n- **Skills development and learning**\n- **Networking and relationship building**\n\n## Engagement Optimization\n\n- Ask open-ended questions that invite personal experiences\n- Reference current events or trending topics when relevant\n- Use storytelling techniques to make content relatable\n- Include controversial (but professional) takes that spark healthy debate\n- Tag relevant people or companies only when truly appropriate\n- Consider seasonal or timely hooks\n\n## What to Avoid\n\n- Overly promotional content or direct sales pitches\n- Generic motivational quotes without personal insight\n- Controversial political or religious topics\n- Negative criticism of individuals or companies\n- Excessive hashtags (limit to 3-5 relevant ones)\n- Clickbait headlines that don't deliver value\n- Wall-of-text formatting that's hard to read\n\n## Hashtag Strategy\n\n- Research and include 3-5 relevant industry hashtags\n- Mix popular hashtags (#leadership, #innovation) with niche ones\n- Place hashtags at the end of the post, not scattered throughout\n- Ensure hashtags align with the post content and target audience\n\n## Output Format\n\nWhen generating a LinkedIn post, provide:\n1. The main post content must be properly formatted with line breaks\n2. Include 3-5 relevant hashtags\n3. Ask for at least one specific suggestion on the content generated\n\nRemember: Your goal is to help users build their professional brand, establish thought leadership, and create genuine connections through valuable content that resonates with their LinkedIn audience."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2.2,
            "position": [
                224,
                0
            ],
            "id": "34fa8e3c-bb80-4a7f-b44f-a255ec636daf",
            "name": "Generate Content"
        },
        {
            "parameters": {
                "formTitle": "LinkedIn Post",
                "formDescription": "Generate a Content from the topic submitted to post on LinkedIn",
                "formFields": {
                    "values": [
                        {
                            "fieldLabel": "Topic",
                            "placeholder": "Enter Topic to Post",
                            "requiredField": true
                        }
                    ]
                },
                "options": {
                    "appendAttribution": false
                }
            },
            "type": "n8n-nodes-base.formTrigger",
            "typeVersion": 2.2,
            "position": [
                0,
                0
            ],
            "id": "f4b789e0-0d3f-4001-8aeb-42665e115df5",
            "name": "Topic to Post",
            "webhookId": "9327c00a-f07c-4ce4-a1cc-2f7338feeb76"
        },
        {
            "parameters": {
                "model": "openai/gpt-5-nano",
                "options": {
                    "temperature": 0.2
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
            "typeVersion": 1,
            "position": [
                240,
                224
            ],
            "id": "96e91695-f8a1-47b1-83b7-a365abe9f649",
            "name": "gpt-5-nano",
            "credentials": {
                "openRouterApi": {
                    "id": "HyWhsdOJdi95hE1m",
                    "name": "OpenRouter account"
                }
            }
        },
        {
            "parameters": {
                "jsonSchemaExample": "{\n\t\"title\": \"Cat\",\n\t\"post\": \"They are lazy animals...\"\n}"
            },
            "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
            "typeVersion": 1.3,
            "position": [
                368,
                224
            ],
            "id": "b442a989-8b1b-49fe-b1ad-91b71dffb07b",
            "name": "JSON Output"
        },
        {
            "parameters": {
                "person": "Ytyg-1o7pt",
                "text": "={{ $json.output.title }}\n\n{{ $json.output.post }}",
                "additionalFields": {
                    "visibility": "PUBLIC"
                }
            },
            "type": "n8n-nodes-base.linkedIn",
            "typeVersion": 1,
            "position": [
                576,
                0
            ],
            "id": "ab414544-2ad5-459c-9079-884918093659",
            "name": "Submit Post",
            "credentials": {
                "linkedInOAuth2Api": {
                    "id": "EvfPXL9RHX91Yhu1",
                    "name": "LinkedIn account"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Generate Content": {
            "main": [
                [
                    {
                        "node": "Submit Post",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Topic to Post": {
            "main": [
                [
                    {
                        "node": "Generate Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "gpt-5-nano": {
            "ai_languageModel": [
                [
                    {
                        "node": "Generate Content",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "JSON Output": {
            "ai_outputParser": [
                [
                    {
                        "node": "Generate Content",
                        "type": "ai_outputParser",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "timezone": "Asia/Kolkata",
        "callerPolicy": "workflowsFromSameOwner"
    },
    "versionId": "4155a98c-d66b-4e51-9a48-8482b9686260",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "d34596626d0961342284b5f413f6cb9c63790fe09b6d140e1107f45cab225aef"
    },
    "id": "HoZBWHb2ASS7Il39",
    "tags": []
}