linkedin_post/v7.json
{
    "name": "v7",
    "nodes": [
        {
            "parameters": {},
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                0,
                -800
            ],
            "id": "13b938e0-5d2d-4ed5-9fbc-698fcbe34bd0",
            "name": "When clicking ‘Execute workflow’"
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "10TNwbeZUZRn7Gq4rpIHHZ8JMj1AaAVDovalSyogTseg",
                    "mode": "list",
                    "cachedResultName": "LinkedIn Post Topics",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10TNwbeZUZRn7Gq4rpIHHZ8JMj1AaAVDovalSyogTseg/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "={{ $now.format('yyyy') }}",
                    "mode": "name"
                },
                "filtersUI": {
                    "values": [
                        {
                            "lookupColumn": "Date",
                            "lookupValue": "={{ $now.format('yyyy-MM-dd') }}"
                        },
                        {
                            "lookupColumn": "Posted",
                            "lookupValue": "0"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                224,
                -800
            ],
            "id": "9084a576-c3f9-4513-bb34-d95705dbbb33",
            "name": "Get Topic",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "t7NYBaQ6cWT9Lh8X",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Topic: {{ $json.Topic }}",
                "hasOutputParser": true,
                "options": {
                    "systemMessage": "# Overview\nYou are a LinkedIn content creation specialist designed to help users generate engaging, professional, and high-performing LinkedIn posts. Your goal is to create content that drives engagement, builds professional relationships, and establishes thought leadership.\n\n## Core Responsibilities\n\nWhen a user provides a topic, use will always use Tavily Tool for web search which returns 3 results. Considering only content from each, you will analyze them and generate a LinkedIn post that:\n- Synthesizes key insights from the provided articles\n- Identifies common themes or contrasting viewpoints across the articles\n- Provides genuine value to the professional audience\n- Encourages meaningful engagement and discussion\n- Maintains a professional yet authentic tone\n- Follows LinkedIn best practices for visibility and reach\n\n## Article Analysis Process\n\nBefore creating the LinkedIn post, you must:\n- **Extract key insights** from each of the 3 articles\n- **Identify common themes** or patterns across the sources\n- **Note any contrasting viewpoints** or different perspectives presented\n- **Find actionable takeaways** that would benefit LinkedIn audiences\n- **Select the most compelling angles** for professional discussion\n- **Transform information** into original thought leadership content without mentioning the sources\n\n## Content Structure Guidelines\n\n### Body Content\n- Synthesize insights into a cohesive narrative that feels original and authentic\n- Present valuable takeaways for professional audiences without referencing sources\n- Use short paragraphs (3-6 sentences each) for readability\n- Include specific examples, data points, or case studies when relevant\n- Structure content with clear flow and logical progression\n- Create original insights by connecting different ideas and perspectives\n- Present information as your own professional observations and expertise\n\n### Call-to-Action\n- End with a thoughtful question to encourage comments\n- Invite readers to share their experiences or opinions\n- Use phrases like \"What's your take?\" or \"Have you experienced this?\"\n- Avoid generic CTAs like \"Thoughts?\"\n\n## Formatting Best Practices\n\n- Use line breaks strategically for visual appeal\n- Use emojis strategically to enhance readability and engagement:\n  • Start paragraphs or sections with relevant emojis (📊 💡 🚀 ⚡ 🎯)\n  • Use emojis to break up text and create visual interest\n  • Choose emojis that align with professional themes and content context\n  • Avoid overuse - aim for 4-8 emojis total throughout the post for optimal impact\n- Emphasize key phrases using your preferred formatting method\n- Keep total length between 150-300 words (optimal engagement range)\n- Use bullet points or numbered lists when presenting multiple ideas from articles\n\n## Tone and Voice Guidelines\n\n- **Professional yet conversational**: Sound like a knowledgeable colleague, not a corporate spokesperson\n- **Authentic**: Share genuine insights and experiences\n- **Value-focused**: Always provide something useful to the reader by distilling article insights\n- **Synthesized**: Combine information from multiple sources into original perspectives\n- **Inclusive**: Use language that welcomes diverse perspectives\n- **Confident but humble**: Share expertise without being condescending\n\n## Content Categories to Excel At\n\n- **Industry insights and trends**\n- **Personal professional experiences and lessons learned**\n- **Career advice and professional development**\n- **Leadership and management insights**\n- **Innovation and technology observations**\n- **Workplace culture and team dynamics**\n- **Skills development and learning**\n- **Networking and relationship building**\n\n## Engagement Optimization\n\n- Ask open-ended questions that invite personal experiences related to the topics\n- Reference current events or trending topics when relevant to the content themes\n- Use storytelling techniques to make insights relatable\n- Create discussion points by highlighting different perspectives on industry topics\n- Tag relevant people or companies only when truly appropriate to the context\n- Consider seasonal or timely hooks that connect to content themes\n\n## What to Avoid\n\n- Overly promotional content or direct sales pitches\n- Generic motivational quotes without personal insight\n- Controversial political or religious topics\n- Negative criticism of individuals or companies\n- Excessive hashtags (limit to 3-5 relevant ones)\n- Clickbait headlines that don't deliver value\n- Wall-of-text formatting that's hard to read\n\n## Hashtag Strategy\n\n- Research and include 3-5 relevant industry hashtags\n- Mix popular hashtags (#leadership, #innovation) with niche ones\n- Place hashtags at the end of the post, not scattered throughout\n- Ensure hashtags align with the post content and target audience\n\n## Output Format\n\nWhen generating a LinkedIn post from provided sources, provide:\n1. The main post content must be properly formatted with line breaks and strategic emoji usage\n2. Include 3-5 relevant hashtags based on content themes\n3. Ask for at least one specific suggestion on the content generated\n\nRemember: Your goal is to help users build their professional brand, establish thought leadership, and create genuine connections through valuable content that synthesizes insights from multiple sources and resonates with their LinkedIn audience. Present all content as original professional observations without referencing external sources."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2.2,
            "position": [
                512,
                -704
            ],
            "id": "e2c61eff-16ab-44ee-8397-59a7efb77b67",
            "name": "Generate Content"
        },
        {
            "parameters": {
                "jsonSchemaExample": "{\n\t\"title\": \"Cat\",\n\t\"post\": \"They are lazy animals...\"\n}"
            },
            "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
            "typeVersion": 1.3,
            "position": [
                704,
                -480
            ],
            "id": "43c91136-9d6f-4ffb-a857-1aec763afa67",
            "name": "JSON Output"
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "10TNwbeZUZRn7Gq4rpIHHZ8JMj1AaAVDovalSyogTseg",
                    "mode": "list",
                    "cachedResultName": "LinkedIn Post Topics",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10TNwbeZUZRn7Gq4rpIHHZ8JMj1AaAVDovalSyogTseg/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "={{ $now.format('yyyy') }}",
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "row_number": "={{ $('Get Topic').item.json.row_number }}",
                        "Date": "={{ $('Get Topic').item.json.Date }}",
                        "Topic": "={{ $('Get Topic').item.json.Topic }}",
                        "Complexity": "={{ $('Get Topic').item.json.Complexity }}",
                        "Category": "={{ $('Get Topic').item.json.Category }}",
                        "Posted": "=1",
                        "Content": "={{ $('Review Content').item.json.output }}"
                    },
                    "matchingColumns": [
                        "row_number"
                    ],
                    "schema": [
                        {
                            "id": "Date",
                            "displayName": "Date",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Topic",
                            "displayName": "Topic",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Category",
                            "displayName": "Category",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Complexity",
                            "displayName": "Complexity",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Posted",
                            "displayName": "Posted",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Content",
                            "displayName": "Content",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "row_number",
                            "displayName": "row_number",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true,
                            "readOnly": true,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                2064,
                -800
            ],
            "id": "fa916b3c-0928-465a-82f9-e73e59bf0ca0",
            "name": "Update when Posted",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "t7NYBaQ6cWT9Lh8X",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
                "options": {
                    "topic": "general",
                    "chunks_per_source": 3,
                    "max_results": 3,
                    "days": 7,
                    "include_answer": "basic"
                }
            },
            "type": "@tavily/n8n-nodes-tavily.tavilyTool",
            "typeVersion": 1,
            "position": [
                576,
                -480
            ],
            "id": "4b875155-3e45-4c4e-8ac2-7503d8fda2dc",
            "name": "Web Search",
            "credentials": {
                "tavilyApi": {
                    "id": "ox82IMfxCy2zPzJK",
                    "name": "Tavily account"
                }
            }
        },
        {
            "parameters": {
                "formTitle": "LinkedIn Post",
                "formDescription": "Generate a Content from the topic submitted to post on LinkedIn",
                "formFields": {
                    "values": [
                        {
                            "fieldLabel": "Topic",
                            "placeholder": "Enter Topic to Post",
                            "requiredField": true
                        }
                    ]
                },
                "options": {
                    "appendAttribution": false
                }
            },
            "type": "n8n-nodes-base.formTrigger",
            "typeVersion": 2.2,
            "position": [
                224,
                -608
            ],
            "id": "3cb4fded-ff37-441d-9c55-d95b2cf98c80",
            "name": "Topic to Post",
            "webhookId": "768ad5dc-05ce-40ea-8b0e-f3b4f258c15d",
            "disabled": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "616dd301-1f15-4f34-b828-30cbc5e8fcf3",
                            "leftValue": "={{ $('Get Topic').isExecuted }}",
                            "rightValue": "",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2.2,
            "position": [
                1840,
                -800
            ],
            "id": "e640fd36-6c63-4deb-ba92-5f0c5b7f5547",
            "name": "Filter"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.output.post }}",
                "options": {
                    "systemMessage": "# Overview\nYou are a highly skilled Content Reviewer and Editor. Your sole task is to take user-provided content and produce a final, polished, and correct version.\n\n## Instructions\n-**Proofread**: Correct all grammatical errors, spelling mistakes, punctuation errors and typos.\n-**Enhance Clarity**: Rephrase sentences to be more concise, readable, and easy to understand. Eliminate jargon and wordiness.\n-**Ensure Cohesion**: Improve the logical flow and coherence of the text, ensuring that sentences and paragraphs connect smoothly.\n-**Maintain Original Intent and Emojis**: Your final output must faithfully preserve the original message, tone, and core purpose of the content. Do not remove or alter any emojis. Do not add new information, make assumptions, or alter the fundamental meaning.\n-**Markdown Removal**: Strictly remove any markdown characters.\n\nOutput:\nProvide only the final, corrected version of the text. Do not include any explanations, change summaries, or \"before and after\" comparisons. The output must be a direct, final result."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2.2,
            "position": [
                912,
                -704
            ],
            "id": "899cea4d-3b52-4405-bf6f-cc727fa55c1e",
            "name": "Review Content"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.output }}",
                "options": {
                    "systemMessage": "# Overview\nCreate a high-quality, visually engaging image that captures the core message and tone of the LinkedIn post from content provided. The image should be professional and suitable for LinkedIn's business/social networking audience. Use relevant symbols, colors, and styles that complement the post's theme.\n\n## Instruction:\n- Avoid excessive text in the image; focus on strong visual storytelling and clear, concise imagery.\n- Strictly exclude any hashtags and questionary from content.\n- Do not give any text, only give image data as response."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2.2,
            "position": [
                1264,
                -704
            ],
            "id": "d6f2d7ed-b5c8-4e2b-a330-e976244ea8a6",
            "name": "Image Generator"
        },
        {
            "parameters": {
                "modelName": "models/gemini-2.5-flash-image-preview",
                "options": {
                    "temperature": 0.2
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                1344,
                -480
            ],
            "id": "7d93e600-2ea5-4f55-9406-c1abcded1f91",
            "name": "gemini-2.5-flash-image",
            "credentials": {
                "googlePalmApi": {
                    "id": "gGqeo8g2DGaUXqOJ",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "operation": "toBinary",
                "sourceProperty": "output[0].inlineData.data",
                "options": {}
            },
            "type": "n8n-nodes-base.convertToFile",
            "typeVersion": 1.1,
            "position": [
                1616,
                -704
            ],
            "id": "a0141de5-46db-4738-8981-834ab7a13421",
            "name": "Convert to PNG"
        },
        {
            "parameters": {
                "person": "Ytyg-1o7pt",
                "text": "={{ $('Generate Content').item.json.output.title }}\n\n{{ $('Review Content').item.json.output }}",
                "shareMediaCategory": "IMAGE",
                "additionalFields": {
                    "visibility": "PUBLIC"
                }
            },
            "type": "n8n-nodes-base.linkedIn",
            "typeVersion": 1,
            "position": [
                1840,
                -608
            ],
            "id": "0b566f19-6e82-46bd-8314-ef97fb7b174a",
            "name": "Submit Post",
            "credentials": {
                "linkedInOAuth2Api": {
                    "id": "EvfPXL9RHX91Yhu1",
                    "name": "LinkedIn account"
                }
            }
        },
        {
            "parameters": {
                "model": "openai/gpt-oss-20b",
                "options": {
                    "temperature": 0.2
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
            "typeVersion": 1,
            "position": [
                992,
                -480
            ],
            "id": "aa1ceb2d-f3d8-49d9-b400-1d3d53283cee",
            "name": "gpt-oss-20b",
            "credentials": {
                "groqApi": {
                    "id": "64T3zjGNPkUW4j4Y",
                    "name": "Groq account"
                }
            }
        },
        {
            "parameters": {
                "model": "openai/gpt-5-nano",
                "options": {
                    "temperature": 0.2
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
            "typeVersion": 1,
            "position": [
                448,
                -480
            ],
            "id": "5552a49e-ad03-4e70-9f14-3fd6a65fe6ce",
            "name": "gpt-5-nano",
            "credentials": {
                "openRouterApi": {
                    "id": "HyWhsdOJdi95hE1m",
                    "name": "OpenRouter account"
                }
            }
        }
    ],
    "pinData": {
        "When clicking ‘Execute workflow’": [
            {
                "json": {}
            }
        ]
    },
    "connections": {
        "When clicking ‘Execute workflow’": {
            "main": [
                [
                    {
                        "node": "Get Topic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Topic": {
            "main": [
                [
                    {
                        "node": "Generate Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Content": {
            "main": [
                [
                    {
                        "node": "Review Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "JSON Output": {
            "ai_outputParser": [
                [
                    {
                        "node": "Generate Content",
                        "type": "ai_outputParser",
                        "index": 0
                    }
                ]
            ]
        },
        "Web Search": {
            "ai_tool": [
                [
                    {
                        "node": "Generate Content",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Topic to Post": {
            "main": [
                [
                    {
                        "node": "Generate Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter": {
            "main": [
                [
                    {
                        "node": "Update when Posted",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Review Content": {
            "main": [
                [
                    {
                        "node": "Image Generator",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update when Posted": {
            "main": [
                []
            ]
        },
        "Image Generator": {
            "main": [
                [
                    {
                        "node": "Convert to PNG",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "gemini-2.5-flash-image": {
            "ai_languageModel": [
                [
                    {
                        "node": "Image Generator",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Convert to PNG": {
            "main": [
                [
                    {
                        "node": "Filter",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Submit Post",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Submit Post": {
            "main": [
                []
            ]
        },
        "gpt-oss-20b": {
            "ai_languageModel": [
                [
                    {
                        "node": "Review Content",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "gpt-5-nano": {
            "ai_languageModel": [
                [
                    {
                        "node": "Generate Content",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "dd9d2673-186c-44fe-a997-240fe3eaaab3",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "d34596626d0961342284b5f413f6cb9c63790fe09b6d140e1107f45cab225aef"
    },
    "id": "8s16PiBT6vlHkTA1",
    "tags": [
        {
            "createdAt": "2025-09-08T02:30:02.830Z",
            "updatedAt": "2025-09-08T02:30:02.830Z",
            "id": "TnFXKVi1gxKaCEdW",
            "name": "LinkedIn"
        }
    ]
}