islamic_agent/v1/vectors/quran_vector_store.json
{
    "name": "Quran Vector Store",
    "nodes": [
        {
            "parameters": {
                "mode": "insert",
                "tableName": {
                    "__rl": true,
                    "value": "quran_documents",
                    "mode": "list",
                    "cachedResultName": "quran_documents"
                },
                "options": {
                    "queryName": "match_quran_documents"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
            "typeVersion": 1.3,
            "position": [
                1056,
                80
            ],
            "id": "6991967e-d8cb-4a44-b1ff-39f391430f06",
            "name": "Supabase Vector Store",
            "alwaysOutputData": true,
            "executeOnce": true,
            "credentials": {
                "supabaseApi": {
                    "id": "RU56QCQQYWxsaqaG",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "operation": "get",
                "tableId": "rpc/get_full_quran_with_translation",
                "filters": {
                    "conditions": [
                        {}
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                832,
                80
            ],
            "id": "8c594c4f-e9c4-4d6d-b9eb-95bb6de41492",
            "name": "Get a row",
            "notesInFlow": false,
            "alwaysOutputData": false,
            "credentials": {
                "supabaseApi": {
                    "id": "RU56QCQQYWxsaqaG",
                    "name": "Supabase account"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                608,
                80
            ],
            "id": "157b49e7-145e-459e-bff7-9f92b57f0a13",
            "name": "When clicking ‘Execute workflow’"
        },
        {
            "parameters": {},
            "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
            "typeVersion": 1,
            "position": [
                1088,
                304
            ],
            "id": "59b23a72-e712-4711-b2f3-de4bb5017440",
            "name": "Embedding",
            "credentials": {
                "googlePalmApi": {
                    "id": "gGqeo8g2DGaUXqOJ",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "jsonMode": "expressionData",
                "jsonData": "={{ $json.translation_text }}",
                "options": {
                    "metadata": {
                        "metadataValues": [
                            {
                                "name": "=surah_id",
                                "value": "={{ $json.surah_id }}"
                            },
                            {
                                "name": "ayah_id",
                                "value": "={{ $json.surah_id }}:{{ $json.ayah_number }}"
                            },
                            {
                                "name": "surah_name",
                                "value": "={{ $json.surah_name }}"
                            }
                        ]
                    }
                }
            },
            "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
            "typeVersion": 1.1,
            "position": [
                1216,
                304
            ],
            "id": "43ffde9b-f9d1-46d8-8385-26f0067491b5",
            "name": "Data Loader",
            "notesInFlow": false
        }
    ],
    "pinData": {},
    "connections": {
        "Get a row": {
            "main": [
                [
                    {
                        "node": "Supabase Vector Store",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "When clicking ‘Execute workflow’": {
            "main": [
                [
                    {
                        "node": "Get a row",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Embedding": {
            "ai_embedding": [
                [
                    {
                        "node": "Supabase Vector Store",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "Data Loader": {
            "ai_document": [
                [
                    {
                        "node": "Supabase Vector Store",
                        "type": "ai_document",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "b90951d9-cffa-4834-ab9a-904d97a10d1c",
    "meta": {
        "instanceId": "d34596626d0961342284b5f413f6cb9c63790fe09b6d140e1107f45cab225aef"
    },
    "id": "tbVZxG4qjpA4roz0",
    "tags": []
}